@model IEnumerable<Obligatorio2.Compra>
@using Microsoft.AspNetCore.Http;

<!-- #region Page Header -->
@*<h1>Compras del cliente @Context.Session.GetString("NombreLogueado")</h1>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID Compra
                </th>
                <th>
                    Cantidad de Entradas
                </th>

                <th>
                    Fecha y Hora de la Compra
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Precio Final
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_compra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cant_Entradas)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_hora_compra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio_Final)
                    </td>
                </tr>
            }

        </tbody>


        <hr />

    </table>
    <h4><a asp-action="VerComprasACancelar">Cancelar Compras</a></h4>*@

<!-- #endregion Page Header -->

<h4>Tus compras</h4>
<br />
<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                ID Compra
            </th>
            <th>
                Cantidad de Entradas
            </th>
            <th>
                Nombre de la Actividad
            </th>
            <th>
                Fecha y Hora de la Compra
            </th>
            <th>
                Estado
            </th>
            <th>
                Precio Final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cant_Entradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.actividad.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_hora_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Final)
                </td>
                <td>
                    @Html.ActionLink("Cancelar Compra", "CancelarCompra", new { id = item.ID_compra })
                </td>
            </tr>
        }
    </tbody>
</table>
@*<h6><a asp-action="VerComprasACancelar">Cancelar Compras</a></h6>*@
