@model IEnumerable<Obligatorio2.Compra>
@using Microsoft.AspNetCore.Http;



<h1>Compras del cliente @Context.Session.GetString("NombreLogueado")</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_Entradas)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fecha_hora_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                PrecioFinal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var PrecioFinal = item.CalcularPrecioFinal();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cant_Entradas)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fecha_hora_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @PrecioFinal
                </td>
            </tr>
        }

    </tbody>


    <hr />

</table>
<h4><a asp-action="VerComprasACancelar">Cancelar Compras</a></h4>
