@model IEnumerable<Obligatorio2.Compra>
<!-- #region codigo anterior -->
@*<h1>Lista de compras con posibilidad de cancelar</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    ID Compra
                </th>
                <th>
                    Cantidad de Entradas
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha y hora de la Compra
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Precio Final
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_compra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cant_Entradas)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.actividad.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_hora_compra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio_Final)
                    </td>
                    <td>
                        @Html.ActionLink("Cancelar Compra", "CancelarCompra", new { id = item.ID_compra })
                    </td>
                </tr>
            }
        </tbody>


    </table>
     <a asp-action="VerCompras">Volver</a>
*@


<!-- #endregion Page Header -->

<h4>Lista de compras con posibilidad de cancelar</h4>
<br />

<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                ID Compra
            </th>
            <th>
                Cantidad de Entradas
            </th>
            <th>
                Nombre
            </th>
            <th>
                Fecha y hora de la Compra
            </th>
            <th>
                Estado
            </th>
            <th>
                Precio Final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cant_Entradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.actividad.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_hora_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Final)
                </td>
                <td>
                    @Html.ActionLink("Cancelar Compra", "CancelarCompra", new { id = item.ID_compra })
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="VerCompras">Volver</a>