@model IEnumerable<Obligatorio2.Compra>

@{
    ViewData["Title"] = "ComprasMayorValor";
}

<h1>La/Las compras de mayor valor es></h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_Entradas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_hora_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                PrecioFinal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var PrecioFinal = item.CalcularPrecioFinal();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_Entradas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_hora_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
               @PrecioFinal
            </td>
        
        </tr>
}
    </tbody>
</table>
