@model IEnumerable<Obligatorio2.Compra>

@{
    ViewData["Title"] = "ComprasMayorValor";
}

<h4>Compras de mayor valor</h4>


<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                ID Compra
            </th>
            <th>
                Usuario
            </th>
            <th>
                Actividad
            </th>
            <th>
                Cantidad de Entradas
            </th>
            <th>
                Fecha y Hora
            </th>
            <th>
                Estado
            </th>
            <th>
                Precio Final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.nombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.actividad.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cant_Entradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_hora_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Final)
                </td>

            </tr>
        }
    </tbody>
</table>
