<h4>Listar Actividades Segun Lugar</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Lugar</label>
                <select name="lugar">
                    @foreach (var lugar in @ViewBag.Lugares)
                    {
                        <option>@lugar.Nombre</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Mostrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@if (@ViewBag.LA != null)
{

    if (@ViewBag.LA.Count == 0)
    {


        <h5>No existen Actividades Asociadas a  @ViewBag.Lugar</h5>
    }
    else
    {
        <hr />
        <br />
        <h5>Lista de Actividaes en @ViewBag.Lugar</h5>

        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>
                        ID Actividad
                    </th>
                    <th>
                        Nombre de la Actividad
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Fecha y Hora
                    </th>
                    <th>
                        Edad Minima
                    </th>
                    <th>
                        Cantidad de Me Gusta
                    </th>
                    <th>
                        Precio Entrada
                    </th>

                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var act in @ViewBag.LA)
                {
                    var PrecioFinal = act.CalcularPrecioFinal();
                    <tr>
                        <td>
                            @act.Id_actividad
                        </td>
                        <td>
                            @act.Nombre
                        </td>
                        <td>
                            @act.Categoria.Nombre
                        </td>
                        <td>
                            @act.Fecha_y_hora
                        </td>
                        <td>
                            @act.Edad_minima
                        </td>
                        <td>
                            @act.Cantidad_me_gusta
                        </td>
                        <td>
                            @PrecioFinal
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
