
<h1>Ver Actividades entre fechas y una categoria</h1>
<br />
<form method="post">
    <label>Fecha de inicio</label><br />
    <input type="datetime-local" name="fecha1" /><br />
    <label>Fecha final</label><br />
    <input type="datetime-local" name="fecha2" /><br />
    <select name="nombreCategoria">
        @foreach (var categoria in @ViewBag.Categorias)
        {
            <option>@categoria.Nombre</option>
        }
    </select><br />
    <hr />
    <input type="submit" value="Mostrar" />
</form>


@if (@ViewBag.LA != null)
{

    if (@ViewBag.LA.Count == 0)
    {


<h2>No existen Actividades asociadas a la categoria @ViewBag.Categoria entre @ViewBag.Fecha1 y @ViewBag.Fecha2</h2>
    }
    else
    {
<h1>Lista de Actividaes asociadas a la categoria @ViewBag.Categoria entre @ViewBag.Fecha1 y @ViewBag.Fecha2</h1>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID Actividad
                    </th>
                    <th>
                        Nombre de la Actividad
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Fecha y Hora
                    </th>
                    <th>
                        Lugar
                    </th>
                    <th>
                        Edad Minima
                    </th>
                    <th>
                        Cantidad de Me Gusta
                    </th>
                    <th>
                        Precio Final
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var act in @ViewBag.LA)
                {
                    <tr>
                        <td>
                            @act.Id_actividad
                        </td>
                        <td>
                            @act.Nombre
                        </td>
                        <td>
                            @act.Categoria.Nombre
                        </td>
                        <td>
                            @act.Fecha_y_hora
                        </td>
                        <td>
                            @act.Lugar.Nombre
                        </td>
                        <td>
                            @act.Edad_minima
                        </td>
                        <td>
                            @act.Cantidad_me_gusta
                        </td>
                        <td>
                            @act.PrecioFinal
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
