@model IEnumerable<Obligatorio2.Usuario>

@{
    ViewData["Title"] = "VerClientes";
}

<h4>Clientes</h4>
<br />


<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                ID Usuario
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Email
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Nombre Usuario
            </th>
            <th>
                Password
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.ID_usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>

            </tr>
        }
    </tbody>
</table>
