<h1>Datos de la compra a eliminar</h1>

<form method="post">
    <label>ID Compra</label> 
    <input type="text" name="IdCompra" value="@ViewBag.compra.ID_compra" readonly /><br />
    <label>Nombre de la Actividad</label>
    <input type="text" name="nombreActividad" value="@ViewBag.compra.actividad.Nombre"  readonly/><br />
    <label>Cantidad de entradas</label>
    <input type="text" name="cantEntradas" value="@ViewBag.compra.cant_Entradas" readonly /><br />
    <label>Fecha y hora</label>
    <input type="datetime" name="fechaHora" value="@ViewBag.compra.fecha_hora_compra"  readonly/><br />
    <label>Precio</label>
    <input type="text" name="Precio" value="@ViewBag.compra.precio_final" readonly />
    <hr />
    <h2>Seguro que desea cancelar la compra?</h2><br />
    <input type="submit" value="Si" /><br />
    <a asp-action="VerComprasACancelar">Volver</a>
</form>
