


<h1>Comprar entrada para la actividad</h1>
<h2>Datos de la actividad a Comprar</h2>
<label>Nombre</label><br />
<input type="text" readonly value="@ViewBag.ActividadModificar.Nombre"/><br />
<label>Categoria</label><br />
<input type="text"  readonly value="@ViewBag.ActividadModificar.Categoria.Nombre"/><br />
<label>Fecha</label><br />
<input type="text" readonly value="@ViewBag.ActividadModificar.Fecha_y_hora"/><br />
<label>Lugar</label><br /> 
<input type="text" readonly  value="@ViewBag.ActividadModificar.Lugar.Nombre"/><br />
<label>Edad Mínima</label><br />
<input type="text" readonly  value="@ViewBag.ActividadModificar.Edad_minima" /><br />
<label>Cantidad de MG</label><br />
<input type="text" readonly  value="@ViewBag.ActividadModificar.Cantidad_me_gusta"/><br /> <hr />
<label>Precio Final</label><br />
<input type="text" readonly  value="@ViewBag.ActividadModificar.PrecioFinal"/><br /> <hr />
