@model IEnumerable<Obligatorio2.Actividad>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_y_hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad_minima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_me_gusta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_actividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_y_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad_minima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_me_gusta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinal)
            </td>
            <td>
                @Html.ActionLink("Comprar", "Comprar", new { id = item.Id_actividad })
            </td>
           
        </tr>
}
    </tbody>
</table>
